/* todo: delete file if not needed */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins';
}

.navbar-brand{
    color: #193566;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration:none;
}

li{
    list-style: none;
}

.btn-menu{
    height: 50%;
}

.modal-content{
    width: 70%;

    label{
        font-size: 12px;
        margin-top: 2rem;        
    }

    input{
        height: 3rem;
    }
}

.modal-footer{
    padding: 2rem;

    .btnGenerate{
        height: 30px;
        width: 100px;
    }
}

.canvas-card{
    // align-items:left;
    font-size: 17px;
    width: 40vh;
    // align-items: flex-end;
}

.offcanvas-header{
    display: flex;
    justify-content: end;
}

.single-nav-link{
    border-bottom: solid 1px #D1D9D6;
}

button{
    height: 100%;
}