.PageLayout{
    border: 2px;
    border-style:outset;
    margin: 1.5rem 20rem 1.5rem 25rem;
    //  padding: 3rem; 
    background-color:whitesmoke;
    border-radius: 2rem;
    width: 35rem;
}

label{
    font-weight: 600;
    text-align: left;
}

.formHeading{
    margin-top: 1rem;
    margin-bottom: -2rem;
    font-style:initial;
    color:royalblue;
}

.addBussinessForm{
    padding: 3rem;
}

.form-label{
    text-align: left;
}


.btn-create{
    width: 6rem;
    height: 3rem;
}